:root{
    --bg-color:#181419;
    --primary-color:#9f3647;
    --secondary-color:#ffc098;
    --third-color:#db4648;
    --third-bis-color:#db4648f2;
    --bg-input-color:#4f31572c;
    --color-fondo-header: rgb(209, 248, 209);
    --color-texto-header: rgb(7, 110, 39); 
   
}

*{
    margin:0;
    padding:0;
    text-align: center;

    
   
}
body{

    margin: 0;
    padding: 0;
    width: 100%;
    
}
#encavezado{
    display: grid;
    max-width: 100%;
    padding: 0;
    margin: 0;
    
    
    }
    #encabezado nav{
    
    margin: 0;
    padding:0;
    width: 100%;
    height: 50px;
    background-color: var(--color-fondo-header);
    text-align: end;
    align-content: end;
    }  
    
    .hipervin{
    
    color: var(--color-texto-header);
    text-decoration: none;
    margin: 0  20px ;
    }
    .menu{
    
    display: inline-block;
    color: var(--color-texto-header);
    text-decoration: none;
    
    } 
    #encabezado nav a {
        text-decoration:underline;  
       
    }
    #encabezado{
        margin: 0;
        padding: 0;
        background-color: var(--color-fondo-header);
        text-align: left;
       
        }
    