
.menu{
    grid-template-columns: repeat(auto-fill, minmax( 100%)) ;
    place-items: end;
    

}

.hipervin{
    display: flexbox;

}

.titulos h1{
    display: grid;
    grid-template-columns: repeat(1fr) ;

}
    


/** este grid-conteiner es de galeria    */
.grid-conteiner{ 
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-gap: 50px; 
   

}



.animacion{
   
    grid-template-columns: repeat(auto-fill, minmax( 100%)) ;
    place-items: center; 

}
 

.linkElectro{

display: grid;
gap: 20px;
text-align: end;
}