/* “:root”, es un selector especial
 que se utiliza principalmente 
 para definir variables personalizadas de CSS */
 :root{
    --bg-color:#181419;
    --primary-color:#9f3647;
    --secondary-color:#ffc098;
    --third-color:#db4648;
    --third-bis-color:#db4648f2;
    --bg-input-color:#4f31572c;
    --color-fondo-header: rgb(209, 248, 209);
    --color-texto-header: rgb(7, 110, 39); 
   
}

*{
    margin:0;
    padding:0;
    /* color:#FFF;  */
    text-align: center;
    margin-top: 10px;
 } 
body{
    font-family: 'Nunito', sans-serif;
    color: var(--primary-color);
    background-image: url(../img/img\ caricatu\ vs\ gadgets.jpg);
    background-size: cover; 
    background-position: center;     background-repeat: no-repeat; 
    margin:0;
    padding:0;
    text-align: center;

}

body::after {
    margin:0;
    padding:0;
    text-align: center;
    content: ""; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1; 
}
.animacion {
    display: grid;
    position:relative;
    height: 100%; 
    overflow: hidden;
}

.imagen {
    
    position: absolute;
    top: 100%; /* Inicialmente, coloca todas las imágenes fuera del contenedor */
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:100%;
    opacity: 0; /* Inicialmente, la imagen está oculta */
    animation-name: miAnimacion;
    animation-duration: 6s; /* Duración total de la animación (6s por imagen * 4 imágenes) */
    animation-delay: 0s; /* Retraso inicial antes de que comience la animación */
    animation-iteration-count: infinite;
}

.imagen:nth-child(1) {

    width: 500px;
    height: 500px;
    top: 0; /* Muestra la primera imagen */
    animation-delay: 0s; /* Sin retraso para la primera imagen */
}

.imagen:nth-child(2) {
    
    width: 500px;
    height: 500px;
    top: 0; /* Muestra la segunda imagen */
    animation-delay: 2s; /* Retraso de 6 segundos para mostrar la segunda imagen */
}

.imagen:nth-child(3) {
    
    width: 500px;
    height: 500px;
    top: 0; /* Muestra la tercera imagen */
    animation-delay: 4s; /* Retraso de 12 segundos para mostrar la tercera imagen */
}

.imagen:nth-child(4) {

    width: 500px;
    height: 500px;
    top: 0; /* Muestra la cuarta imagen */
    animation-delay: 6s; /* Retraso de 18 segundos para mostrar la cuarta imagen */
}


@keyframes miAnimacion {
    0% {
        opacity: 0; /* Inicialmente, la imagen está oculta */
    }
    16.666% {
        opacity: 1; /* Muestra la imagen durante 1/6 de la duración total */
    }
    83.333%, 100% {
        opacity: 0; /* Oculta la imagen al final de la animación */
    }
}







.videoPresentacion{
    width: 55vw;
    height: 50vh;
} 

/* .manoRobot{
    width: 55vw;
    height: 50vh;
} */


#encabezado{
    background: var(--color-fondo-header) ;
    text-align: center;
}
 #logo {

    width: 5vw;
    height: 5vw;
    margin-right: 600px;  
    
 }
#encabezado div,
#encabezado nav{
    display: inline;
    vertical-align: middle;
        
    } 
.hipervin{
color: var(--color-texto-header);
text-decoration: none;
margin: 0 10px ;
}

 .icon{
    width: 40px;
    height: 40px;
    margin: 20px;
    margin-top: 25 vw;
 }