
 :root{
    --bg-color:#181419;
    --primary-color:#9f3647;
    --secondary-color:#ffc098;
    --third-color:#db4648;
    --third-bis-color:#db4648f2;
    --bg-input-color:#4f31572c;
    --color-fondo-header: rgb(209, 248, 209);
    --color-texto-header: rgb(7, 110, 39); 
   
}

*{
    margin:0;
    padding:0;
     
 } 
body{
    font-family: 'Nunito', sans-serif;
    color: var(--primary-color);
    background-image: url(../img/img\ caricatu\ vs\ gadgets.jpg);
    background-size: cover; 
    background-position: center;     background-repeat: no-repeat; 
    margin:0;
    padding:0;
    text-align: center;

}

body::after {
    margin:0;
    padding:0;
    text-align: center;
    content: ""; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1; 
}

h1{
    color: #db4648;  
   
}
h3{
    font-family: Open_Sans;
    color: #db4648;
}
.link1{
    color:blue;
    font-family: fantasy;
    
}

.animacion{
 width: 1280px; 
 height: auto;
 margin: 50px auto 0 ; 
 overflow: hidden;

 animation: animacion 16s infinite alternate ease-in-out;


}

.animacion{
    display: flex;
    padding: 0;
    width: 400%;

}

.animacion li{
    list-style: none;
    width: 100%;
}

.animacion img{
    width: 60%;
}

@keyframes animacion{

  0%{ margin-left: 0% ;}
 20%{ margin-left: 0% ;}

 25%{ margin-left: -100% ;}
 45%{ margin-left: -100% ;}

 50%{ margin-left: -200% ;}
 70%{ margin-left: -200% ;}

 75%{ margin-left: -300% ;}
 95%{ margin-left: -300% ;}
}


.videoPresentacion{
    width: 50vw;
    height: 45vh;
    margin-top: 20px;
    margin-bottom: 10px;
} 

.link2{
    color: blue;
    font-family: fantasy;
}

.link3{
    color: blue;
    font-family: fantasy;
}

div h2{
    color: brown;
    margin-top: 10px;
    margin-bottom: 5px;

}

#encabezado {
    
    background-color: var(--color-fondo-header);
    text-align: left;
    overflow: hidden;
}
#logo {
    width: 5vw;
    height: auto;
    float: left;
    margin-left: 10px;
}
#encabezado nav{
float: right;
margin-right: 20px;
margin-top: 30px;
}

#encabezado div,
#encabezado nav {
    display: inline;
    vertical-align: middle;
    background-color: var(--color-fondo-header);
    text-align: end;
    margin-bottom: 20px;
}

.hipervin{

display: inline-block;
color: var(--color-texto-header);
text-decoration: none;
margin: 0 10px ;
text-align: end;
}

#encabezado nav a {
    text-decoration:underline; 
    color: var(--color-texto-header); /* Color predeterminado para los hipervínculos */
}








 .icon{
    width: 40px;
    height: 40px;
    margin: 20px;
    margin-top: 25 vw;
    text-align: left;

 }

 footer {
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media div {
    margin: 0 10px;
    text-align: center;
}

.social-media .icon {
    width: 40px;
    height: 40px;
}

.social-media span {
    display: block;
    margin-top: 5px;
}
