:root{
    --bg-color:#181419;
    --primary-color:#9f3647;
    --secondary-color:#ffc098;
    --third-color:#db4648;
    --third-bis-color:#db4648f2;
    --bg-input-color:#4f31572c;
    --color-fondo-header: rgb(209, 248, 209);
    --color-texto-header: rgb(7, 110, 39); 
   
}






*{
    margin:0;
    padding:0;
    /* color:#FFF; */
    text-align: center;
    margin-top: 10px;
}

body{

    margin: 0;
    padding: 0;
}
#encabezado nav{

  
    display: inline;
    vertical-align: middle;
}
#encabezado{
    background-color: var(--color-fondo-header);
    padding: 10px;
    text-align: end
}

.hipervin{
color: var(--color-texto-header);
text-decoration: none;
margin: 0 10px ;
}