<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/registrese.css">
    <link rel="stylesheet" href="../static/CSS/grid.css">
    <title>Registrese</title>
</head>
<body>

  
    <header id="encabezado">
        <nav class="menu">
            <a class="hipervin" href="../index.html">Inicio</a>
            <a class="hipervin" href="listas.html">Listas</a>
            <a class="hipervin" href="tabla.html">Tabla</a> 
            <a class="hipervin" href="galeria.html">Galeria</a>
            <a class="hipervin" href="http://www.google.com" target="_blank ">Google</a>
            <a class="hipervin" href="productos.html"> Productos</a>
            <a class="hipervin" href="formulario.html">Registrese</a>

        </nav>
    </header>
    <hr>
<br>
 <main>

    <section>

        <form class="container_form"  action="https://formspree.io/f/mleqpjea" method="post">
           
        <fieldset>
            
           <legend "><h1>Registro</h1></legend>
            
            <div>
                <label for="nombre">Nombre:</label>
                
                <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre por favor"  required>
            </div>
            <br>
            <div>
                <label for="apellido">Apellido:</label>

                <input type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido por favor" required>
            </div>
            <br>
           
            <div>
                <label for="edad">Edad:</label>
                
                <input type="number" name="edad" id="edad" min="8" max="100" placeholder="Igrese su edad por favor"value required>
            </div>
             <br>
            
             <div>
                <label for="fecha_de_nacimiento">Fecha de Nacimiento:</label>
                
               <input type="date" name="fecha_de_nacimiento" id="fecha_de_nacimiento" required>
            </div>
            <br>
            <div>
                <label for="direccion">Direccion:</label>
                
                <input type="text" name="direccion" id="direccion" placeholder="Ingrese su dirección por favor" >
            </div>
            <br>
            <div>
                <label for="codigo_postal">C.P:</label>
                
                <input type="text" name="codigo_postal" placeholder="Ingrese su código postal por favor" id="codigo_postal" >
            </div>

            <br>    

            <div>
                <label for="telefono">Telefono:</label>
                
            <input type="tel" name="telefono" placeholder="Ingrese su teléfono por favor" id="telefono">
             </div>
             <br>
             <div>
               <p> Genero (Radio)</p>
                
                <input type="radio"name="gender" value="hombre"> Hombre
                <input type="radio" name="gender" value="mujer" > Mujer
                <input type="radio" name="gender" value="otro"> Otro
            
            </div>
              <br>        
                                   
            <div> 
                 <p>Conoce las nuevas tecnogias gadget?</p>
                 <br> 
                 <input type="checkbox"name="conoce" value="si" > Si
                 <input type="checkbox"name="conoce" value="no" > No
                 <input type="checkbox" name="conoce" value="poco" > Poco
                 <input type="checkbox"name="conoce" value="nada" > Nada
            </div>
            <br>    
            <hr>
            <div>
                <label for="comentario">Comentarios: </label>
                <textarea name="comentario" id="comentario" placeholder="Envíenos sus comentarios(max 200 caracteres)" cols="30" rows="10" maxlength="200"></textarea>
               </div>
               
            <div>
                <input type="submit" value="Registrarse">
                <input type="reset" value="Reset">
            </div>   
            
            
            <div class="ingresaTUimg">
               <button><label for="imagen">Sube una Imagen:</label>
                <input type="file" name="imagen" id="imagen" accept="image/*"></button> 
            </div>
            
            <br>
            <a href="mailto:grupocodoacodo@gmail.com?subject=tpoN1°">Enviar Correo Electronico</a>
        </fieldset>
    </form> 
</section>
<!-- <img  src="https://img.freepik.com/foto-gratis/tecnologia-fondo-toque-humano-nueva-version-moderna-creacion-adan_53876-129794.jpg?w=740&t=st=1711721872~exp=1711722472~hmac=f7c8a468aa6fba207189c211390491195a28993565ba94dc620b014c2eb28e10"> -->
    </main>
    <footer>

    </footer>



<script src="../script.js/registrese.js"></script>
</body>
</html>