<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Enlace para hoja de estilos en CSS -->
   <link rel="stylesheet" href="../static/CSS/galeria.css">
   <link rel="stylesheet" href="../static/CSS/grid.css">
   <!-- insertar icono favicon********** -->
   <link rel="shortcut icon" href="../static/img/manzana.ico"type="image/x-icon">
   
    <title>Galeria GADGETS</title>
</head>
<body>

     <header id="encabezado"> 



        <nav class="menu">
            <a class="hipervin" href="../index.html">Inicio</a>
            <a class="hipervin" href="listas.html">Listas</a>
            <a class="hipervin" href="tabla.html">Tabla</a> 
            <a class="hipervin" href="galeria.html">Galeria</a>
            <a class="hipervin" href="http://www.google.com" target="_blank ">Google</a>
            <a class="hipervin" href="productos.html"> Productos</a>
            <a class="hipervin" href="formulario.html">Registrese</a>
            
        </nav>


     </header>

    
     <main> 


        <section>
             <div class="titulos">
                 <h1>Technology gadget</h1> 
                
                
            </div>
                
  
                <h3>Te invitamos a explorar nuetra Galeria gadget:</h3>


  <div class="grid-conteiner">
    
         <div class="box-imagenes"> 

         <a href="../static/img/RELOJ INTELIGENTE.jpg"><img class="imagen-responsive"   src="../static/img/RELOJ INTELIGENTE.jpg" alt=" reloj HUAWEI"  title="HUAWEI Watch Ultimate Smartwatch, iOS & Android, de Metal líquido, Tecnología de Buceo a 100 m, Duración de la batería de 14 días, Gestión de la Salud Durante Todo el día."> <br>  RELOJ INTELIGENTE</a>
         
        </div>
        
    <div class="box-imagenes"> 

        <a href="../static/img/ASPIRADOR INALAMBRICO.jpg"><img class="imagen-responsive" src="../static/img/ASPIRADOR INALAMBRICO.jpg" alt=""  title="El Hoover ultra vortex Eexcelente y practico aspirador inalambrico para la limpieza. El Hoover Ultra Vortex es un aspirador de mano brutal para quien valore la limpieza en profundidad."><br><br> ASPIRADOR INALAMBRICO</a>
    </div>
        

    <div class="box-imagenes"> 
  
        <a href="../static/img/ANILLO.jpeg"><img class="imagen-responsive" src="../static/img/ANILLO.jpeg" alt=""  title="El Go2Sleep de la compañía Sleepon es un anillo inteligente especializado en mejorar el sueño. Dispone de sensores como ritmo cardíaco y oxígeno en sangre (SpO2) y desde la aplicación obtendremos informes sobre la salud del sueño y consejos específicos para personas con problemas respiratorios o con apnea del sueño." ><br><br> GO2SLEEP</a>
    </div> 
        
    <div class="box-imagenes"> 

        <a href="../static/img/ANILLO CNICK.jpeg"><img class="imagen-responsive" src="../static/img/ANILLO CNICK.jpeg" alt=""  title="El anillo de Cnick está especializado en pagos. Incluye tecnología NFC y está pensado para desbloquear puertas y dispositivos compatibles. La ventaja del dispositivo es que ha sido aprobado por Visa y Mastercard, también es compatible con los coches Tesla a partir de los modelos de 2021. Es un anillo que no necesita ser recargado y se ofrece en materiales distintos, desde cerámica hasta madera, pasando por los habituales metales." ><br><br>  ANILLO CNICK</a>
    </div>  
        
   
    <div class="box-imagenes"> 

        <a href="../static/img/GAFAS XREAL AIR.jpeg" > <img class="imagen-responsive" src="../static/img/GAFAS XREAL AIR.jpeg" alt="" title="Las gafas Xreal Air 2 Ultra AR apuntan al Apple Vision Pro y a los auriculares relacionados. Estas gafas ofrecen una experiencia de pantalla portátil, para que puedas ver contenido en streaming y jugar con una gran pantalla virtual. Obtiene seguimiento espacial y seguimiento manual de 6DoF (seis grados de libertad), junto con un FOV (campo de visión) de 52 grados más amplio y una nitidez de 42 píxeles por grado dentro de un paquete de titanio de 80 gramos. " ><br><br> GAFAS XREAL </a>

    </div>    
   

    <div class="box-imagenes"> 
        <a href="../static/img/COMPUTADORA PARA JUEGOS RAZER BLADE 16.jpeg"><img class="imagen-responsive" src="../static/img/COMPUTADORA PARA JUEGOS RAZER BLADE 16.jpeg" alt=""  title="La computadora portátil para juegos Razer Blade 16 es una auténtica bestia, con un precio de alta gama a la altura. Por el precio, obtienes una pantalla OLED de 16 pulgadas y 240 Hz, que según la compañía es la primera en la industria. También obtienes un chip Raptor Lake Core i9-14900HX de 14.a generación y hasta un RTX 4090 con un TDP de 175 vatios. "> <br><br>  COMPUTADORA PARA JUEGOS RAZER  </a>
    </div>   
        
    

   
    <div class="box-imagenes">  
        <a href="../static/img/ASISTENTE CON IA RABBIT.jpeg"><img class="imagen-responsive" src="../static/img/ASISTENTE CON IA RABBIT.jpeg" alt=""  title="El Rabbit R1 es uno de los productos más interesantes que saldrá de CES 2024. Este asistente digital impulsado por IA puede operar automáticamente cualquier aplicación de teléfono inteligente y completar cualquier tarea para la que lo entrene. Cuenta con una pantalla y controles integrados, pero no es lo suficientemente potente como para ser considerado un teléfono inteligente. Aún así, la tecnología aquí es ciertamente interesante. "><br><br> ASISTENTE CON IA RABBIT</a>
    </div>   
        
    
    <div class="box-imagenes"> 
        <a href="../static/img/NANOLEAF SKYLINGHT.jpeg"><img class="imagen-responsive" src="../static/img/NANOLEAF SKYLINGHT.jpeg" alt=""  title="El Nanoleaf Skylight Smarter Kit, que en realidad es un kit inicial, es una excelente manera de agregar algo de iluminación de techo a su hogar. El paquete viene con un trío de luces de techo modulares empotradas para simplificar el proceso de instalación. De hecho, puede utilizarlos para imitar el efecto del cielo natural, a través del sistema de iluminación multipunto difusa de la empresa. Como siempre, podrás ir añadiendo paneles a medida que los vayas comprando, hasta 99."> <br> <br>ILUMINACION PARA TECHOS  SMARTER </a>
    </div>
        
   

    <div class="box-imagenes"> 
        <a href="../static/img/AURICULARES AUDIO TECHNICA ATH.jpeg"><img class="imagen-responsive" src="../static/img/AURICULARES AUDIO TECHNICA ATH.jpeg" alt=""  title="Estos auriculares Audio Technica ATH-TWX7 son inalámbricos y se envían con un práctico estuche de carga. Vienen con tecnología de cancelación activa de ruido (ANC), un diseño de dispositivo tipo AirPods, controladores de alta resolución de 5,8 mm con capacidad de audio LDAC de 24 bits/96 kHz y un factor de forma compacto."><br><br> AURICULARES AUDIO TECHNICA ATH  </a>
    </div>
  

   
    <div class="box-imagenes"> 
        <a href="../static/img/SILLA GAMER.jpeg"><img class="imagen-responsive" src="../static/img/SILLA GAMER.jpeg" alt=""  title="La silla para juegos Razer Iskur V2 está llena de detalles que mejoran la comodidad.Cuenta con un sistema de soporte lumbar con resorte que se ajusta al peso y la postura del cuerpo, con controles manuales para permitir ajustes de altura. Los cojines también se han renovado para ofrecer aún más comodidad mientras juegas."><br><br> SILLA GAMER </a>
    </div> 
 

    <div class="box-imagenes"> 
 
        <a href="../static/img/BARRA DE LUCES.jpeg"><img class="imagen-responsive" src="../static/img/BARRA DE LUCES.jpeg" alt=""  title="La barra de luces Razer Aether Monitor es un accesorio montable con LED RGB frontales y traseros, compatible con más de 16,8 millones de colores y una infinidad de efectos de iluminación. La barra también incorpora controles táctiles capacitivos, que pueden ajustar el brillo, la temperatura del color y los efectos cromáticos. Esta barra de luz también se integra con el estándar de hogar inteligente Matter. " ><br><br> BARRA DE LUCES </a>
    </div>
    
   <div class="box-imagenes"> 
        <a href="../static/img/IMPRESORA 3D.jpg"><img class="imagen-responsive" src="../static/img/IMPRESORA 3D.jpg" alt=""  title="La AnkerMake M5 es nuestra principal recomendación de impresora 3D para la mayoría de los consumidores porque puede producir objetos complejos a la mejor velocidad de su clase, incluidos los elaborados que utilizan múltiples materiales de filamento. Este producto digno de derroche también es elegante y fácil de operar a través de una pantalla táctil y una aplicación complementaria.AnkerMake M5 incluyen una cámara incorporada para controlar el progreso de sus impresiones y una estructura de aluminio fundido que es elegante y resistente a partes iguales." ><br><br>  IMPRESORA 3D</a>
    </div>
    
    <div class="box-imagenes"> 
       <a href="../static/img/TABLERO VESTABOARD.jpg"><img class="imagen-responsive" src="../static/img/TABLERO VESTABOARD.jpg" alt=""  title="Producto decididamente de alta tecnología, es elegante y minimalista. Con 132 ranuras de caracteres personalizables con solapa dividida. Puede mostrar cualquier cosa, desde actualizaciones meteorológicas y resultados en directo hasta mensajes personales. Con una medida de 42 pulgadas en diagonal, el Vestaboard es ideal para casas grandes o espacios de trabajo abiertos si tiene el presupuesto para ello. Puede controlar el dispositivo a través de un móvil o una aplicación web."><br><br>  IMPRESORA 3D</a>
    </div>
        
    <div class="box-imagenes"> 

        <a href="../static/img/CAMARA DE ACCION IMPERMEABLE.jpg"><img class="imagen-responsive" src="../static/img/CAMARA DE ACCION IMPERMEABLE.jpg" alt=""  title="La HERO12 Black de GoPro es mejor que su predecesora y la mejor cámara de acción que existe. Puede capturar videos de 5.3K increíblemente fluidos y más nítidos que las imágenes fijas de 4K y 27MP. También puede transmitir en vivo .la HERO12 Black  puede sumergirse hasta 33 pies bajo el agua sin una funda protectora. Es compatible con una amplia selección de accesorios originales y de terceros.">CAMARA DE ACCION IMPERMEABLE </a>
    </div>
        
    <div class="box-imagenes"> 

        <a href="../static/img/HATCH RESTORE2 RELOJ DESPERTADOR INTELIGENTE.jpg"><img class="imagen-responsive" src="../static/img/HATCH RESTORE2 RELOJ DESPERTADOR INTELIGENTE.jpg" alt=""  title="El reloj despertador Hatch Restore 2 es una mejora de la mesa de noche de alta tecnología que avalamos. La luz incorporada del ingenioso dispositivo puede simular un amanecer para despertares suaves y ofrecer sonidos ambientales relajantes junto con un brillo similar al de una puesta de sol para ayudar a conciliar el sueño. El dispositivo puede incluso ayudarle a dormir más profundamente al enmascarar los sonidos ambientales con ruido blanco." >RELOJ DESPERTADOR INTELIGENTE</a>
        
    </div>
    <div class="box-imagenes"> 
        <a href="../static/img/BASE DE CARGA INALAMBRICA.jpg"><img class="imagen-responsive" src="../static/img/BASE DE CARGA INALAMBRICA.jpg" alt=""  title="Este cargador magnético de Urban Armor Gear es más versátil que la mayoría de los rivales MagSafe, incluido el de Apple , porque tiene un pie de apoyo integrado. Este último le permitirá a usted o al destinatario del regalo ver videos, desplazarse por las redes sociales e incluso jugar con un controlador inalámbrico mientras enciende su iPhone." > BASE DE CARGA INALAMBRICA</a> 
    </div>  
        
    <div class="box-imagenes"> 
       <a href="../static/img/COPUTADORA PORTATIL  ASUS ROG STRIX.jpg"><img class="imagen-responsive" src="../static/img/COPUTADORA PORTATIL  ASUS ROG STRIX.jpg" alt=""  title="Esta versión 2024 de la computadora portátil para juegos ASUS ROG Strix G16 me impresionó al brindar un equilibrio perfecto entre un diseño elegante, un procesador y gráficos capaces, una pantalla compatible con Dolby Vision, memoria actualizable y un rendimiento de juego estelar. Lo mejor de todo es que la computadora portátil tiene un excelente precio que está al alcance de muchas personas que actualizan." >COMPUTADORA PORTATIL ASUS  </a> 
    </div>
         

    <div class="box-imagenes"> 
 
        <a href="../static/img/IMPRESORA PARA TELEFONOS INTELIGENTES.jpg"><img class="imagen-responsive" src="../static/img/IMPRESORA PARA TELEFONOS INTELIGENTES.jpg" alt=""  title="Esta impresora fotográfica compacta de Fujifilm creará copias impresas de 2 por 3 pulgadas de las fotografías de su teléfono inteligente con una calidad impresionante. Por supuesto, Instax Mini Link 2 tiene una aplicación complementaria con un elaborado conjunto de herramientas para editar las fotos antes de imprimirlas." >IMPRESORA FOTOGRAFICA COMPACTA</a>
    </div>
        
   
    <div class="box-imagenes"> 
   
        <a href="../static/img/CAMARA CON DISPENSADOR PARA  MASCOTAS PETCUBE.jpg"><img class="imagen-responsive" src="../static/img/CAMARA CON DISPENSADOR PARA  MASCOTAS PETCUBE.jpg" alt=""  title="La elegante cámara Petcube Bites 2 te permite vigilar a tu mascota mientras no estás en casa a través de la conectividad Wi-Fi e incluso puedes ofrecerle un premio directamente desde tu teléfono inteligente.Otras características clave de Petcube Bites 2 incluyen conectividad de audio bidireccional, compatibilidad con los comandos de voz de Amazon Alexa y la capacidad de enviar alertas de sonido y movimiento. También nos gusta que exista la opción de utilizar el producto para conectarse con un veterinario." >CAMARA CON DISPENSADOR DE GOLOSINAS PETCUBE</a>
    
    
    </div>

</div>



</section> 

<section class="subir">

<a class="subir" href="galeria.html">Subir</a>

</section>

     </main>
 <!-- crear u footer par el pe de pagina -->
     <footer> </footer>
 
</body>
</html>

   


    


   















