<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/listas.css">
    <link rel="stylesheet" href="../static/CSS/grid.css">
    <title>Listas</title>
</head>


<body >

  <header id="encabezado">

    <nav class="menu">
      <a class="hipervin" href="tabla.html">Tendencias</a> 
      <a class="hipervin" href="http://www.google.com" target="_blank ">Google</a>
      <a class="hipervin" href="productos.html"> Productos</a>
      <a class="hipervin" href="formulario.html">Registrese</a> 
      <a class="hipervin" href="galeria.html">Galeria</a>
      <a class="hipervin" href="listas.html">Listas</a>
      <a class="hipervin" href="../index.html">Inicio</a>

 </nav>

</header>

<main>

     <section>
        
    <div>
         <h1><b>Estas son algunas funciones que brindan las tecnologías Gadgets de nuestra tienda</b></h1>
    </div>
    <div class="funcionesGadgets">
        <dl>
           
             <li>Acceder a información y contenido en línea</li>     
             <li> Escuchar música y ver películas   </li>
             <li>Realizar tareas de trabajo o estudio   </li> 
             <li>Monitorear nuestra salud y actividad física</li>
             <li>Capturar fotos y videos</li> 
             <li>Comunicarnos con otras personas</li> 
        </dl>
    </div>
    </section>
   
    <section >
        <p><b class="categorias" Categorias >Categorias</b><img class="imgCateg" src="../static/img/manzana.ico" alt=""></p> 


        <ul class="categ1">Telefonia celular</ul>
        <li class="item1" >Celulares</li>
        <li class="item1">Smartphones</li>

        <ul class="categ1">Computacion</ul>
       
             <li class="item1">Componentes de PC</li>
             <li class="item1">Tablets y Accesorios</li>
             <li class="item1" >PC</li>
             <li class="item1">Conectividad y Redes</li>
             <li class="item1">Impresiones</li>
        
         <ul class="categ1">Cámaras y Accesorios</ul>
              <li class="item1">Camaras Digitales</li>
         <ul class="categ1">Electrinica, Audio y Video</ul>
              <li class="item1">Accesorios para Cámaras</li>
              <li class="item1">Accesorios para Audio y Video</li>
              <li class="item1">Componentes Electrónicos</li>
              <li class="item1">Drones y Accesorios</li>
              <li class="item1">Audio para Vehiculos</li>
              <li class="item1">Audio</li>
        <ul class="categ1">Consolas y Videojuegos</ul>
              <li class="item1">Videojuegos</li>
              <li class="item1">Para PlayStation</li>

</div> <br><br>
<hr class="linea">
<div>
    <ol class="img_list"> 
        
        <li> <img class="list-img" src="https://c8.alamy.com/compes/pp5y2p/la-gente-utiliza-internet-gadgets-red-social-compartiendo-informacion-concepto-de-compartir-en-linea-de-comunicacion-de-conexion-horizontal-plana-pp5y2p.jpg" height="400" width="400">
              <dd class="tex-list">Nos brindan acceso a una cantidad inmensa de información en la palma de nuestra mano. Con la capacidad de navegar por Internet, podemos buscar respuestas a preguntas, acceder a noticias de última hora, investigar temas de interés y aprender de manera continua.</dd> </li>

        <li> <img class="list-img"src="https://img.freepik.com/vector-premium/comunicacion-traves-gadgets_118813-13868.jpg" height="400" width="400">
                  <dd class="tex-list">Los teléfonos inteligentes, las tabletas y los dispositivos de videoconferencia permiten a las personas comunicarse con otros desde cualquier lugar del mundo 
                      
                  </dd> 
        </li>
        <li>  <img class="list-img" src="https://img.freepik.com/vector-premium/organizacion-trabajo-oficina-gadgets_323758-308.jpg" height="400" width="400">
                 <dd class="tex-list">Los dispositivos como las computadoras portátiles, los relojes inteligentes y las agendas electrónicas pueden ayudar a las personas a realizar tareas y administrar su tiempo de manera más eficiente.</dd> </li> 

        <li> <img class="list-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqjNR91MnaIHdrdqU_i5lhsth1F6r3MQbHAQ&s" height="400" width="400">
             <dd class="tex-list">Los reproductores de música portátiles, los dispositivos de juegos y las televisiones inteligentes ofrecen una variedad de opciones de entretenimiento para disfrutar en casa o mientras se viaja.</dd></li>  

        <li> <img class="list-img" src="https://previews.123rf.com/images/robuart/robuart1410/robuart141000006/32381717-personas-hombre-y-una-mujer-joven-que-usa-la-tecnolog%C3%ADa-de-gadgets.jpg" height="400" width="400">
              <dd class="tex-list">La calidad de las cámaras en los smartphones ha mejorado significativamente a lo largo de los años. Esto ha convertido a estos dispositivos en herramientas poderosas para la fotografía y la creatividad. Las aplicaciones de edición de fotos permiten a los usuarios capturar momentos especiales y mejorar sus imágenes de manera sencilla. Además, la posibilidad de compartir estas fotos en redes sociales ha cambiado la forma en que compartimos nuestras experiencias con el mundo.</dd> </li> 
        <li> <img class="list-img" src="https://roche-h.assetsadobe2.com/is/image/content/dam/hcp-portals/spain/teasers/innovacion/articulos/51._Rocheplus_Gadgets_de_salud_trendy_2021_Teaser.jpg?$HCPNext$&wid=640" height="400" width="400">
              <dd class="tex-list">Los dispositivos de seguimiento de actividad física, monitores de sueño y otros dispositivos de salud y bienestar pueden ayudar a las personas a monitorear y mejorar su salud.</dd></li> 
    </ol>

     </section>


</main>

<hr>
<footer>
     
     <div> <p>GadGets Argentina® todos los derechos reservados</p></div>
   

</footer>

</body>
</html>