<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/listas.css">
    <title>Listas</title>
</head>
<body background="https://img.freepik.com/fotos-premium/superficie-pared-textura-cemento-naranja-fondo-textura_39408-1377.jpg?w=740">
    <header id="encabezado">

        <nav class="menu">
          <a class="hipervin" href="../index.html">Inicio</a>
          <a class="hipervin" href="listas.html">Listas</a>
          <a class="hipervin" href="tabla.html">Tabla</a> 
          <a class="hipervin" href="galeria.html">Galeria</a>
          <a class="hipervin" href="http://www.google.com" target="_blank ">Google</a>
          <a class="hipervin" href="productos.html"> Productos</a>
          <!-- <a href="./templates/formulario.html">formulario</a> -->
          <a class="hipervin" href="registrese.html">Registrese</a>

        </nav>

    </header>
   <main>
     <section>
        
        <h1><u><b> <i>Estas son algunas funciones que nos brindan las tecnologías GADGETS</h1></b></u></i>


       
        <dl>
            
            
            <i><li><strong> Acceder a información y contenido en línea</strong></li></i>
            <img src="https://c8.alamy.com/compes/pp5y2p/la-gente-utiliza-internet-gadgets-red-social-compartiendo-informacion-concepto-de-compartir-en-linea-de-comunicacion-de-conexion-horizontal-plana-pp5y2p.jpg" height="400" width="400">
              <dd>Nos brindan acceso a una cantidad inmensa de información en la palma de nuestra mano. Con la capacidad de navegar por Internet, podemos buscar respuestas a preguntas, acceder a noticias de última hora, investigar temas de interés y aprender de manera continua.</dd>

            <i><li><strong>Comunicarnos con otras personas</strong></li> </i>
            <img src="https://img.freepik.com/vector-premium/comunicacion-traves-gadgets_118813-13868.jpg" height="400" width="400">
              <dd>Los teléfonos inteligentes, las tabletas y los dispositivos de videoconferencia permiten a las personas comunicarse con otros desde cualquier lugar del mundo.</dd>

            <i><li><strong>Realizar tareas de trabajo o estudio</strong></li> </i>
            <img src="https://img.freepik.com/vector-premium/organizacion-trabajo-oficina-gadgets_323758-308.jpg" height="400" width="400">
              <dd>Los dispositivos como las computadoras portátiles, los relojes inteligentes y las agendas electrónicas pueden ayudar a las personas a realizar tareas y administrar su tiempo de manera más eficiente.</dd>

            <i><li><strong> Escuchar música y ver películas</strong></li></i>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqjNR91MnaIHdrdqU_i5lhsth1F6r3MQbHAQ&s" height="400" width="400">
              <dd>Los reproductores de música portátiles, los dispositivos de juegos y las televisiones inteligentes ofrecen una variedad de opciones de entretenimiento para disfrutar en casa o mientras se viaja.</dd>

            <i><li><strong>Capturar fotos y videos</strong></li> </i>
            <img src="https://previews.123rf.com/images/robuart/robuart1410/robuart141000006/32381717-personas-hombre-y-una-mujer-joven-que-usa-la-tecnolog%C3%ADa-de-gadgets.jpg" height="400" width="400">
              <dd>La calidad de las cámaras en los smartphones ha mejorado significativamente a lo largo de los años. Esto ha convertido a estos dispositivos en herramientas poderosas para la fotografía y la creatividad. Las aplicaciones de edición de fotos permiten a los usuarios capturar momentos especiales y mejorar sus imágenes de manera sencilla. Además, la posibilidad de compartir estas fotos en redes sociales ha cambiado la forma en que compartimos nuestras experiencias con el mundo.</dd>

            <i><li><strong>Monitorear nuestra salud y actividad física</strong></li> </i>
            <img src="https://roche-h.assetsadobe2.com/is/image/content/dam/hcp-portals/spain/teasers/innovacion/articulos/51._Rocheplus_Gadgets_de_salud_trendy_2021_Teaser.jpg?$HCPNext$&wid=640" height="400" width="400">
              <dd>Los dispositivos de seguimiento de actividad física, monitores de sueño y otros dispositivos de salud y bienestar pueden ayudar a las personas a monitorear y mejorar su salud.</dd>


        </dl>
       
       <br>


    </section>


</main>


<footer>
    <p>Gadgets Argentina todos los derechos reservados 2024.</p>

</footer>

</body>
</html>