<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/productos.css">
    <link rel="stylesheet" href="../static/CSS/grid.css">
    <title>Nuestros_Productos</title>

</head>

<body>
   
    <header id="encabezado">
         <nav class="mune">
            <a class="hipervin" href="../index.html">Inicio</a>
            <a class="hipervin" href="listas.html">Listas</a>
            <a class="hipervin" href="tabla.html">Tendencias</a> 
            <a class="hipervin" href="galeria.html">Galeria</a>
            <a class="hipervin" href="http://www.google.com" target="_blank ">Google</a>
            <a class="hipervin" href="productos.html"> Productos</a>
            <a class="hipervin" href="formulario.html">Registrese</a>
        </nav>

    </header>


    <main>
        <section>
            <h1>JCK Electronica</h1>

            <h3>Quienes somos </h3>
            <!--Video de Youtube-->
            <div> 
                <iframe class="videoProd" src="https://www.youtube.com/embed/0wOEATeeStI?si=NZsWOMBeYg1IIcsw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
           
            <!--Mapa-->
            <h3>Ubicación</h3>
            <div>
                <iframe class="ubicacion"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.203097993253!2d-57.567445025329164!3d-37.995722944457235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc1b474fadf9%3A0xb6f392efac20afc5!2sJCK%20Electr%C3%B3nica!5e0!3m2!1ses!2sar!4v1712240009945!5m2!1ses!2sar" width="400" height="300" style="border:0  border-line= 54;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>

            <div>
                 <a class="linkElectro" href="https://electronicajck.com/"target="_blank"><strong>Ir a JCK Electronica</strong></a>
            </div>
       
                
        </section>


    </main>

    <footer>
        <div> <p>GadGets Argentina® todos los derechos reservados</p></div>
    </footer>


</body>
</html>