<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/tabla.css">
    <title>Tabla</title>
</head>
<body>
      <!-- crear un header para el encabezado -->
    <header id="encabezado"> 

        <nav class="menu">
            <a class="hipervin" href="../index.html">Inicio</a>
            <a class="hipervin" href="listas.html">Listas</a>
            <a class="hipervin" href="tabla.html">Tabla</a> 
            <a class="hipervin" href="galeria.html">Galeria</a>
            <a class="hipervin" href="http://www.google.com" target="_blank ">Google</a>
            <a class="hipervin" href="productos.html"> Productos</a>
            <!-- <a href="./templates/formulario.html">formulario</a> -->
            <a class="hipervin" href="registrese.html">Registrese</a>
            <!-- agregue atriutos target= "_blank"( salida )para que google se abra en una entana DIFERENTE  y no en misma ventana -->

        </nav>

    </header>

    <!-- crear un mail para el contenido-->

    <main> 

            <!-- ver como mejorar este codigo PRIMERO MEJORAR LA TABLA Y HACER QUE FUNCIONE EL ENLACE A YOUTUBE**** -->
<section> 
    <div>
         <h1>Lo nuevo!!</h1>
    </div>
        
         <h2>Gadget_2024</h2>
    
    <table border="2">
        <tr>
            <th>Gadget_2024</th>
            <th>Lo mejor en gadget de 2024</th>
        </tr>
        <tr>
            <td>Mirá lo último en tecnología</td>     
            <td> <iframe width="560" height="315" src="https://www.youtube.com/embed/w-hYTBzeAJQ?si=ulu-A7oajCZHhlkP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> </td>
           
            <td>Algo práctico para vos</td> </td>
            <td><iframe width="346" height="614" src="https://www.youtube.com/embed/Pll8v82shEE" title="Un GADGET que va a cambiar TODOS TUS VIAJES" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        </tr>
        <tr>
            <td>Dato de color</td>
            <td>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uTgz4iW0-f4?si=PSyEHtkDDLTNNt3_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              
            </td>
            
            <td> video para niños</td>


            <td>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/nCCZ1BcL8L4?si=r_SvSdXMLhqRXQw9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </td>
            <td></td>
            <td></td>
            <td></td>
            
        <!-- ESTO ES SOLO UNA PRUEBA PARA QUE VEAN EL CODIGO DEL AUDIO CON ESTOS ATRIBUTO***** ELIMINAR UNA VEZ VISTO -->
            
            <!-- <td>
                <audio controls autoplay loop>
                    <source src="../assets/typical-trap-loop-2b-130751.mp3" type="audio/ogg">
                    <!-- <source src="horse.mp3" type="audio/mpeg">
                    Your browser does not support the audio element. -->
                    </audio>
            </td>
 -->
        </tr>
    
    </section>
       


        </table>
        
        
     <h3>Descargá el <a href="../assets/2015-2313-2340-IotElInternetDeLasCosasYLaInnovacionDeSusAplicaciones.pdf">PDF</a> para mas información</h3>
     
     






    </main>
<!-- crear u footer par el pe de pagina -->
    <footer> </footer>

 
</body>
</html>